@import "./themes.scss";

%panel-bg {
	backdrop-filter: blur(12px);
}
@include themify($themes) {
	%panel-bg {
		background-color: themed('panel-bg');
	}
}

%panel-border-radius {
	border-radius: 12px;
}

@include themify($themes) {
	%panel-border {
		border: 1px solid themed('panel-border-color');
	}
}