* {
	box-sizing: border-box;
}

* {
	font-family: 'Inter', sans-serif;
}

input:focus, button:focus, select:focus {
	outline: none !important;
}

button {
	cursor: pointer;
}

body {
	margin: 0;
	color: #111111;
	width: 100%;
	height: 100%;
	overflow: hidden;
	touch-action: none;
	font-family: 'Inter', sans-serif;
}

#canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	overflow: hidden;
	z-index: -1;
}

a {
	color: inherit;
}