$theme-map: null;

$themes: (
	light: (
		panel-border-color: #ffffff,
		panel-bg: rgb(255, 255, 255, 0.92),
		text-color: #222,
		text-color-opposite: #fff,
		text-color-subtle: #6b6b6b,
		bg-primary: #fff,
		button-border: #ccc,
		nav-icon-selected-bg: #d4d4d4,
		category-bg: #fff,
		button-bg: #fff,

		keyboard-key-border-color: #c9c9c9,
		keyboard-key-shadow-color: #d7d7d7,
		keyboard-key-bg-color: #f2f2f2,
		keyboard-key-text-color: #111,

		modal-button-bg: #fff,
		modal-button-bg-hover: #eee,
		modal-button-text-color: #222,
		modal-button-border-color: #e6e6e6,
		modal-button-shadow-color: rgba(16, 24, 40, 0.1),

		panel-close-button-bg: #fff,
		panel-close-button-bg-hover: #ddd,
		panel-close-button-text-color: #868686,

		compass-outline-color: #666,

		modal-category-item-bg: #eee,
	),
	dark: (
		panel-border-color: #222,
		panel-bg: rgb(30, 30, 30, 0.92),
		text-color: #eee,
		text-color-opposite: #111,
		text-color-subtle: #6b6b6b,
		bg-primary: #171717,
		button-border: #ccc,
		nav-icon-selected-bg: #424242,
		category-bg: #171717,
		button-bg: #171717,

		keyboard-key-border-color: #414141,
		keyboard-key-shadow-color: #2d2d2d,
		keyboard-key-bg-color: #272727,
		keyboard-key-text-color: #eee,

		modal-button-bg: #171717,
		modal-button-bg-hover: #414141,
		modal-button-text-color: #eee,
		modal-button-border-color: #6c6c6c,
		modal-button-shadow-color: rgba(161, 161, 161, 0.1),

		panel-close-button-bg: #171717,
		panel-close-button-bg-hover: #2a2a2a,
		panel-close-button-text-color: #eee,

		compass-outline-color: #eee,

		modal-category-item-bg: #272727,
	),
);

@mixin themify($themes) {
	@each $name, $values in $themes {
		[class~=#{$name}Theme] {
			$theme-map: $values !global;
			@content;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}