$theme-map: null;

$themes: (
	light: (
		panel-border-color: rgba(255, 255, 255, 0.8),
		panel-bg: rgba(127, 127, 127, 0.3),
		text-color: #fff,
		text-color-opposite: #111,
	),
	dark: (
		panel-border-color: #222,
		panel-bg: rgba(0, 0, 0, 0.3),
		text-color: #eee,
		text-color-opposite: #111,
	),
);

@mixin themify($themes) {
	@each $name, $values in $themes {
		[class~=#{$name}Theme] {
			$theme-map: $values !global;
			@content;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}