$theme-map: null;

$themes: (
	light: (
		panel-border-color: #ffffff,
		panel-bg: rgb(255, 255, 255, 0.85),
		text-color: #222,
		text-color-opposite: #fff,
		text-color-subtle: #6b6b6b,
		bg-primary: #fff,
		button-border: #ccc,
		nav-icon-selected-bg: #d4d4d4,
		category-bg: #fff,
		button-bg: #fff,

		keyboard-key-border-color: #c9c9c9,
		keyboard-key-shadow-color: #d7d7d7,
		keyboard-key-bg-color: #f2f2f2,
		keyboard-key-text-color: #111,
	),
	dark: (
		panel-border-color: #222,
		panel-bg: rgb(30, 30, 30, 0.9),
		text-color: #eee,
		text-color-opposite: #111,
		text-color-subtle: #6b6b6b,
		bg-primary: #171717,
		button-border: #ccc,
		nav-icon-selected-bg: #424242,
		category-bg: #171717,
		button-bg: #171717,

		keyboard-key-border-color: #414141,
		keyboard-key-shadow-color: #2d2d2d,
		keyboard-key-bg-color: #272727,
		keyboard-key-text-color: #eee,
	),
);

@mixin themify($themes) {
	@each $name, $values in $themes {
		[class~=#{$name}Theme] {
			$theme-map: $values !global;
			@content;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}