@import "../../styles/common.scss";

.timePanel {
	position: absolute;
	bottom: 16px;
	left: 16px;
	font-size: 14px;
	padding: 16px;
	user-select: none;

	@extend %panel-bg;
	@extend %panel-border;
	@extend %panel-border-radius;

	&__header {
		margin: 0 0 12px 0;
		font-size: 18px;
		font-weight: 700;
	}

	&__presets {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
}

@include themify($themes) {
	.timePanel {
		color: themed('text-color');
	}
}