@import "../../styles/common.scss";

$northColor: #de1616;
$southColor: #f0f0f0;

%arrow {
	width: 0;
	height: 0;
	border-style: solid;
}

.compass {
	@extend %panel-bg;
	@extend %panel-border;
	width: 64px;
	height: 64px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;

	&:hover &__container {
		filter: drop-shadow(0 0 4px #fff);
	}

	&__container {
		filter: none;
		transition: filter 200ms;

		&__arrowUp {
			@extend %arrow;
			border-width: 0 10px 30px 10px;
			border-color: transparent transparent $northColor transparent;
		}

		&__arrowDown {
			@extend %arrow;
			border-width: 30px 10px 0 10px;
			border-color: $southColor transparent transparent transparent;
		}
	}
}
