@import "../../styles/common.scss";

.debugInfo {
	position: absolute;
	bottom: 20px;
	right: 4px;
	font-size: 12px;

	&__item {
		width: 50px;
		display: inline-block;
		text-align: right;

		&--small {
			width: 25px;
		}

		&--clickable {
			cursor: pointer;
		}
	}
}

@include themify($themes) {
	.debugInfo {
		color: themed('text-color');
	}
}