@import "../../styles/common.scss";

.debug-info {
	position: absolute;
	bottom: 20px;
	right: 4px;
	font-size: 12px;

	.item {
		width: 50px;
		display: inline-block;
		text-align: right;
	}

	.item-small {
		width: 25px;
	}

	.item-clickable {
		cursor: pointer;
	}
}

@include themify($themes) {
	.debug-info {
		color: themed('text-color');
	}
}