.viewer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;

	&__header {
		padding: 16px;

		&__title {
			font-size: 24px;
			margin: 0 0 12px 0;
			color: #fff;
		}
	}

	&__body {
		width: 100%;
		flex: 1 1;
	}
}

.nav {
	&__button {
		margin: 0 12px 0 0;
		font-size: 16px;
		background: transparent;
		color: #fff;
		border: 1px solid white;
		border-radius: 4px;
		padding: 4px 8px;
	}
}

.graph {
	width: 100%;
	height: 100%;

	:global {
		g.type-TK > rect {
			fill: #00ffd0;
		}

		.node rect {
			stroke: #fff;
			fill: rgba(0, 0, 0, 0.7);
			stroke-width: 1.5px;
		}

		.node {
			font-size: 12px;
			color: #fff;
		}

		.node header {
			font-size: 16px;
			color: #fff;
			margin: 0 0 4px 0;
		}

		.node main {
			> .metadata {
				margin: 0 0 4px 0;
				white-space: pre-line;
			}

			> .local-resources > .local-resource {
				white-space: pre-line;
				border: 1px solid rgb(255, 255, 255, 0.7);
				border-radius: 6px;
				padding: 4px;
				font-size: 10px;
				margin: 4px 0 0 0;
			}
		}

		.node-pass {
			rect {
				stroke: #ff0090;
				fill: rgba(194, 0, 109, 0.7);
			}

			text {
				fill: #fff;
			}
		}

		.node-resource {
			rect {
				stroke: #00d3ff;
				fill: rgba(0, 121, 148, 0.7);
			}

			text {
				fill: #fff;
				font-size: 10px;
			}
		}

		.edgePath path {
			stroke: #eee;
			stroke-width: 1.5px;
		}
	}
}