.loadingScreenOuter {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	opacity: 1;
	transition: opacity 400ms linear 0.25s;

	&--hidden {
		opacity: 0;
	}
}

.loadingScreen {
	text-align: center;

	&__title {
		font-size: 36px;
		font-weight: bold;
		margin: 0 0 32px 0;
	}

	&__progress {
		width: 300px;
		height: 5px;
		background-color: #222;
		overflow: hidden;
		border-radius: 5px;

		&__inner {
			background: #fff;
			height: 100%;
			width: 0;
			border-radius: 5px;
		}
	}

	&__info {
		margin: 32px 0 0 0;
		font-size: 14px;
		opacity: 0.75;
	}
}