@import "./../../styles/themes.scss";
@import "./../../styles/common.scss";

.geolocation-button {
	position: absolute;
	bottom: 140px;
	right: 16px;
	display: block;
	margin: 0 0 0 8px;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	@extend %panel-bg;
	@extend %panel-border;

	.icon {
		font-size: 24px;
		display: block;
	}
}

.geolocation-button-disabled {
	cursor: not-allowed;
}

@include themify($themes) {
	.geolocation-button {
		color: themed('text-color');
	}
}

.spinner {
	animation: icon-spin 2s infinite linear;

	@keyframes icon-spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(359deg);
		}
	}
}