body {
    margin: 0;
    color: #111111;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
}
