@import "./../../styles/common.scss";

.button {
	border-radius: 999px;
	padding: 6px 10px;
	min-width: 36px;
	display: flex;
	align-items: center;
	transition: background-color 0.2s ease-in-out;

	&__text {
		font-size: 12px;
		font-weight: 600;
	}

	&__icon {
		display: flex;
		align-items: center;
		margin: 0 4px 0 0;
	}
}

@include themify($themes) {
	.button {
		border: 1px solid themed('modal-button-border-color');
		color: themed('modal-button-text-color');
		background-color: themed('modal-button-bg');
		box-shadow: 0 1px 2px 0 themed('modal-button-shadow-color');

		&:hover {
			background-color: themed('modal-button-bg-hover');
		}
	}
}