@import "./../../styles/common.scss";

@keyframes iconSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

.button {
	border-radius: 999px;
	padding: 6px 10px;
	min-width: 36px;
	display: flex;
	align-items: center;
	transition: background-color 0.2s ease-in-out;
	position: relative;

	&--disabled {
		cursor: auto;
	}

	&__text {
		font-size: 12px;
		font-weight: 600;

		&--hidden {
			visibility: hidden;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		margin: 0 4px 0 0;

		&--hidden {
			visibility: hidden;
		}
	}

	&__loaderContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(100% - 20px);
		height: 100%;
		position: absolute;

		&__loader {
			animation: iconSpin 2s infinite linear;

			& > svg {
				display: block;
			}
		}
	}
}

@include themify($themes) {
	.button {
		border: 1px solid themed('modal-button-border-color');
		color: themed('modal-button-text-color');
		background-color: themed('modal-button-bg');
		box-shadow: 0 1px 2px 0 themed('modal-button-shadow-color');

		&:hover {
			background-color: themed('modal-button-bg-hover');
		}
	}
}