.resetButton {
	border: 1px solid white;
	border-radius: 4px;
	padding: 2px 4px;
	font-size: 12px;
	min-width: 36px;
	line-height: 18px;
	display: block;
	color: white;
	background: transparent;
	float: right;
	margin: 16px 0 0 0;
}

.range {
	width: 200px;

	&__value {
		width: 100%;
		text-align: center;
		font-size: 12px;
		line-height: 12px;
	}

	&__input {
		width: 100%;
		display: block;
		margin: 0;
	}

	&__footer {
		width: 100%;

		&__minMax {
			font-size: 8px;
			line-height: 12px;

			&--left {
				float: left;
			}

			&--right {
				float: right;
			}
		}
	}
}

.select {
	border: 1px solid white;
	border-radius: 4px;
	padding: 2px 4px;
	font-size: 12px;
	min-width: 200px;
	line-height: 18px;
	display: block;
	color: white;
	background: transparent;
}