@import "../../styles/common.scss";

.selection-info-panel {
	pointer-events: none;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.selection-info {
	pointer-events: auto;
	width: 500px;
	max-width: 90%;
	background: rgba(0, 0, 0, 0.75);
	padding: 24px;
	color: white;
	position: relative;

	@extend %panel-bg;
	@extend %panel-border;
	@extend %panel-border-radius;

	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	border-bottom: none !important;

	.header {
		font-size: 24px;
		font-weight: 600;
		margin: 0 0 8px 0;
		max-width: 90%;
		word-break: break-word;
	}

	.tags {
		max-height: 140px;
		overflow-y: auto;
		border-radius: 12px;
	}

	.tags-table {
		background: rgb(255 255 255 / 75%);
		color: #111;
		font-size: 12px;
		table-layout: fixed;
		border-collapse: collapse;
		width: 100%;
	}

	table td {
		border: 1px solid black;
		padding: 4px 8px;
		word-break: break-word;
	}
	table tr:first-child td {
		border-top: 0;
	}
	table tr td:first-child {
		border-left: 0;
	}
	table tr:last-child td {
		border-bottom: 0;
	}
	table tr td:last-child {
		border-right: 0;
	}

	.links {
		display: flex;
		flex-direction: row;
		margin: 24px 0;

		> * {
			display: block;
			margin: 0 8px 0 0;
			text-decoration: none;
		}

		.link {
			border-radius: 20px;
			border: 2px solid #111;
			color: #111;
			font-size: 14px;
			padding: 4px 8px;
			background-color: rgb(255 255 255 / 85%);
			font-weight: 600;
			transition: background-color ease-in 200ms;
		}

		.link-type-a {
			border: 2px solid #3152bd;
			color: #3152bd;
		}

		.link-type-b {
			border: 2px solid #c73fa7;
			color: #c73fa7;
		}

		.link:hover {
			background-color: rgb(255 255 255 / 100%);
		}
	}

	.osm-info {
		font-size: 14px;
		margin: 8px 0;
	}

	transition: transform 400ms;
	min-height: 321.5px;
}

.selection-info-hidden {
	transform: translateY(150%);
}

.selection-skeleton {
	opacity: 0.5;
}

.selection-info-close {
	position: absolute;
	top: 16px;
	right: 16px;
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.2);
	width: 32px;
	height: 32px;
	color: #fff;
	text-align: center;
	padding: 0;
	cursor: pointer;
	font-size: 20px;
	border: none;
	display: block;
	line-height: 0;
	transition: background-color 300ms;

	&:hover {
		background-color: rgba(255, 255, 255, 0.4);
	}
}