@import "../../styles/common.scss";

.endpointRow {
	display: flex;
	flex-direction: row;
	margin: 0 0 12px 0;

	&:last-child {
		margin: 0;
	}

	&__radio {
		width: 24px;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;

		&__input {
			display: block;
			margin: 0;
		}
	}

	&__content {
		flex: 1;
		min-width: 0;
	}
}

.endpoint {
	background: #f2f2f2;
	border-radius: 12px;
	display: flex;
	flex-direction: row;

	&__title {
		font-size: 14px;
		flex: 1;
		min-width: 0;
		padding: 12px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	&__input {
		border: none;
		font-size: 14px;
		flex: 1;
		min-width: 0;
		padding: 12px;
		margin: 0;
		display: block;
		background: transparent;
	}

	&__button {
		display: block;
		border-radius: 4px;
		margin: 6px 7px;
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
		border: 1px solid #e6e6e6;
		padding: 4px 6px;

		* > svg {
			display: block;
		}
	}
}

@include themify($themes) {
	.endpoint {
		&__button {
			color: themed('text-color');
			background: themed('button-bg');
		}
	}
}