@import "../../styles/common.scss";

.modal {
	position: absolute;
	top: 96px;
	max-height: calc(100% - 192px);
	right: 16px;
	padding: 20px 24px;
	border: 1px solid #eee;
	width: 600px;
	font-size: 14px;
	@extend %panel-bg;
	@extend %panel-border;
	@extend %panel-border-radius;

	&__header {
		font-size: 24px;
		font-weight: 600;
		margin: 0 0 16px 0;
		position: relative;
		width: 90%;
	}

	&__body {
		margin: 0;
	}

	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
		border-radius: 100px;
		background: rgba(255, 255, 255, 0.2);
		width: 32px;
		height: 32px;
		color: #fff;
		text-align: center;
		padding: 0;
		cursor: pointer;
		font-size: 20px;
		border: none;
		display: block;
		line-height: 0;
		transition: background-color 300ms;

		&:hover {
			background-color: rgba(255, 255, 255, 0.4);
		}
	}
}

@include themify($themes) {
	.modal {
		color: themed('text-color');

		&__close {
			background: themed('bg-primary');
			color: themed('text-color-subtle');
		}
	}
}