.modalTable {
	line-height: 24px;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;

	td {
		padding: 8px 4px;
	}

	tr {
		border-bottom: 1px solid #ccc;

		&:last-child {
			border: 0;
		}
	}
}